<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" /></configSections>
    <connectionStrings>
        <add name="DatabaseConnection.Properties.Settings.neqsimdatabaseConnectionStatoil2" connectionString="server=tr-w33;user id=remote;password=remote;database=neqsimdatabase" providerName="MySql.Data.MySqlClient" />
        <add name="DatabaseConnection.Properties.Settings.neqsimdatabaseConnectionNTNU" connectionString="server=129.241.62.72;user id=remote;password=remote;database=neqsimdatabase" providerName="MySql.Data.MySqlClient" />
        <add name="DatabaseConnection.Properties.Settings.neqsimdatabaseConnectionNTNU2" connectionString="server=129.241.62.72;user id=remote;password=remote;persistsecurityinfo=True;database=neqsimdatabase" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
<log4net>
    <!--See http://logging.apache.org/log4net/index.html-->
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Date Time] [Thread ID] [Level] [Class] [TimeStamp since app started] [Message]&#xD;&#xA;" />
        <conversionPattern value="v%property{AppVersion} %date [%thread] %-5level %logger %-4timestamp - %message%newline" />
        <Footer value="&#xD;&#xA;" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="${TEMP}\%property{LogName}" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Date Time] [Thread ID] [Level] [Class] [TimeStamp since app started] [Message]&#xD;&#xA;" />
        <conversionPattern value="v%property{AppVersion} %date [%thread] %-5level %logger %-4timestamp - %message%newline" />
        <Footer value="&#xD;&#xA;" />
      </layout>
    </appender>
    <root>
      <level value="WARN" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net></configuration>
