<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!--See http://logging.apache.org/log4net/index.html-->
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Date Time] [Thread ID] [Level] [Class] [TimeStamp since app started] [Message]
"/>
        <conversionPattern value="v%property{AppVersion} %date [%thread] %-5level %logger %-4timestamp - %message%newline"/>
        <Footer value="
"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="${TEMP}\%property{LogName}"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <maximumFileSize value="1MB"/>
      <maxSizeRollBackups value="5"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Date Time] [Thread ID] [Level] [Class] [TimeStamp since app started] [Message]
"/>
        <conversionPattern value="v%property{AppVersion} %date [%thread] %-5level %logger %-4timestamp - %message%newline"/>
        <Footer value="
"/>
      </layout>
    </appender>
    <root>
      <level value="WARN"/>
      <appender-ref ref="Console"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
