<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseConnection2.Properties.Settings.neqsimdatabaseConnectionString"
            connectionString="server=tr-w33;user id=remote;database=neqsimdatabase;password=remote;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="DatabaseConnection2.Properties.Settings.NeqSimDatabaseConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\NeqSimDatabase.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>